* {
    box-sizing: border-box
}

body {
    margin: 0
}

.logout-btn {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: node;
}

#profile{
    position: fixed;
    bottom: 15rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.upload-btn {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    /* border-radius: 50%;
    border: node; */
    display: block;
}

.posts-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-y: scroll;
    /* scroll in y direction karna hai humna*/
    scroll-snap-type: y mandatory;
}

.video-card {
    color: white;
    /* border: 1px solid; */
    height: 100%;
    width: 30rem;
    margin: auto;
    position: relative;
    /* top se scroll mai chahia yaa huma*/
    scroll-snap-align: start;
}

.like {
    font-size: 40px;
    /* flat UI color se color lia hai */
    position: absolute;
    bottom: 30vh;
    right: 10px;
}
.liked {
    font-size: 40px;
    /* flat UI color se color lia hai */
    color: #EF0107;
    position: absolute;
    bottom: 30vh;
    right: 10px;
}

.comment {
    font-size: 35px;
    /* apna parent ka respect mai hoga position */
    position: absolute;
    bottom: 21vh;
    right: 10px;
}

.username {
    position: absolute;
    bottom: 20vh;
    left: 20px;
}

.follow-btn{
    position: absolute;
    bottom: 9rem;
    left: 10.4rem;
}

.song {
    position: absolute;
    left: 20px;
    bottom: 16vh;
    display: flex;
    justify-content: space-around;
}

.caption{
    position: absolute;
    bottom: 10vh;
    left: 20px;
    outline: none;
}

video {
    height: 100%;
    width: 100%;
    /* crop kar data hai vedio koo */
    object-fit: cover;
}

.post-like-count{
    position: absolute;
    bottom: 25vh;
    left: 27.9rem;
}

.comment-container{
    word-break: break-all;
}

.comment-box {
    border: 1px solid;
    height: 45%;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
}

.comment-box-close-btn {
    position: absolute;
    top: 0;
    border: none;
    right: 0;
    color: #0984e3;
    height: 10%;
}

.all-comments {
    margin-top: 4.5vh;
    height: 80%;
    width: 100%;
    border: 1px solid black;

    color: black;
}

.comment-form {
    height: 10%;
}

.comment-form input {
    height: 100%;
    width: 80%;
    border: none;
}

.comment-form button {
    height: 100%;
    width: 20%;
    border: none;
    color: #0984e3;
}

.comment-profile-img{
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.all-comments > div{
    display: flex;
    padding: 8px;
}

.all-comments > div > div{
    margin-left: 20px;
}

.inner-comment{
    margin-top: -1rem;
}
